<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head>
    <!-- META -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <!-- TITLE -->
    <title>{{ getTitle() }} : {% block title %}{% endblock %}</title>

    <!-- Materialize core CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {#<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" rel="stylesheet">#}
    <link href="{{ css('materialize.min') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ css('default') }}" rel="stylesheet">

    <!-- Admin Css -->
    <link href="{{ css('admin') }}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="{{ img('logo.png') }}">
</head>
<body>

<!-- NAVIGATION -->
<nav class="navbar  light-blue darken-1">
    <div class="nav-wrapper ">
        <a href="{{ url('admin') }}" class="brand-logo center">
            <img id="header-logo" alt="Pet Logo" class="left" src="{{ img('logo-nav.png') }}">
            <span class="right">Pony</span>
        </a>

        <!-- panel-menu-button -->
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large left"><i
                    class="material-icons">menu</i></a>

        <ul class="side-nav" id="mobile-demo">
            <li>
                <a href="{{ url('users.login') }}">
                    Login
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- CONTENT -->
<main class="container">
    <ul id="slide-out" class="side-nav blue-grey darken-4">

        <!-- Compte -->
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header white-text"><i class="material-icons">person</i>Mon compte</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{{ url('users.logout') }}">Se déconnecter</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>

        <!-- Front -->
        <li class="no-padding"><a href="{{ url('home') }}" class="collapsible-header side-link white-text"><i
                        class="material-icons">visibility</i>Voir le site</a></li>

        <!-- Separator -->
        <hr class="blue-text text-darken-1">
        <br>

        <!-- Poneys -->
        {% if hasAccess('poneys.index') or hasAccess('poneys.index') %}
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header white-text"><i class="material-icons">pets</i>Poneys</a>
                        <div class="collapsible-body">
                            <ul>
                                {% if hasAccess('poneys.index') %}
                                    <li><a href="{{ url('admin.poneys.index') }}" class="side-link">Liste</a></li>
                                {% endif %}
                                {% if hasAccess('poneys.create') %}
                                    <li><a href="{{ url('admin.poneys.create') }}" class="side-link">Ajouter</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        {% endif %}

        <!-- Utilisateurs -->
        {% if hasAccess('users.index') or hasAccess('users.index') %}
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header white-text"><i class="material-icons">supervisor_account</i>Utilisateurs</a>
                        <div class="collapsible-body">
                            <ul>
                                {% if hasAccess('users.index') %}
                                    <li><a href="{{ url('admin.users.index') }}" class="side-link">Liste</a></li>
                                {% endif %}
                                {% if hasAccess('users.create') %}
                                    <li><a href="{{ url('admin.users.create') }}" class="side-link">Ajouter</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        {% endif %}

        <!-- Concours -->
        {% if hasAccess('contests.index') or hasAccess('contests.index') %}
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header white-text"><i class="material-icons">equalizer</i>Concours</a>
                        <div class="collapsible-body">
                            <ul>
                                {% if hasAccess('contests.index') %}
                                    <li><a href="{{ url('admin.contests.index') }}" class="side-link">Liste</a></li>
                                {% endif %}
                                {% if hasAccess('contests.create') %}
                                    <li><a href="{{ url('admin.contests.create') }}" class="side-link">Ajouter</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        {% endif %}

        <!-- Journaux -->
        {% if hasAccess('articles.index') or hasAccess('articles.index') %}
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header white-text"><i class="material-icons">local_library</i>Articles</a>
                        <div class="collapsible-body">
                            <ul>
                                {% if hasAccess('articles.index') %}
                                    <li><a href="{{ url('admin.articles.index') }}" class="side-link">Liste</a></li>
                                {% endif %}
                                {% if hasAccess('articles.create') %}
                                    <li><a href="{{ url('admin.articles.create') }}" class="side-link">Ajouter</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        {% endif %}

        <!-- Item -->
        {% if hasAccess('items.index') or hasAccess('items.index') %}
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header white-text"><i class="material-icons">shopping_cart</i>Items</a>
                        <div class="collapsible-body">
                            <ul>
                                {% if hasAccess('items.index') %}
                                    <li><a href="{{ url('admin.items.index') }}" class="side-link">Liste</a></li>
                                {% endif %}
                                {% if hasAccess('items.create') %}
                                    <li><a href="{{ url('admin.items.create') }}" class="side-link">Ajouter</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        {% endif %}

        <!-- Monitor -->
        {% if hasAccess('*.*') %}
            <li class="no-padding">
                <a href="http://monitor.pony.assael.me"
                   class="collapsible-header side-link white-text">
                    <i class="material-icons">timeline</i>Stats
                    serveur
                </a>
            </li>
        {% endif %}
    </ul>


    {% block content %}{% endblock %}
</main> <!-- /main -->

<!-- FOOTER -->
<footer class="page-footer   grey darken-3">
    <div class="footer-copyright">
        <div class="container">
            © {{ getTitle() }} - 2016
            <div class="grey-text text-lighten-4 right">
                <!-- DEBUG -->
                {% if config_get('debug') > 0 %}
                    {{ call_static('Core\\Helper\\Debug', 'getDebug') }}
                    Temps d'execution : {{ app_function('getExecutionTime') | number_format(5) }} Secondes
                {% endif %}
            </div>
        </div>
    </div>
</footer>

<!-- SCRIPTS -->
<script type="text/javascript">
    window.base_url = '{{ getBaseUrl() }}';
</script>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="{{ js('loader') }}"></script>
<script src="{{ js('app') }}"></script>
{% block script %}{% endblock %}
</body>
</html>