<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
  <head>
    <!-- META -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <!-- TITLE -->
    <title>{{ call_static('Core\\App', 'getTitle') }} : {% block title %}{% endblock %}</title>

    <!-- Materialize core CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {#<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" rel="stylesheet">#}
    <link href="{{ call_static('Core\\Helper\\Html', 'css', ['materialize.min']) }}" rel="stylesheet">

    <!-- Custom styles for this template -->
  	<link href="{{ call_static('Core\\Helper\\Html', 'css', ['default']) }}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ call_static('Core\\Helper\\Html', 'img', ['logo.png']) }}" />
  </head>
  <body>

    <!-- NAVIGATION -->
    <nav class="navbar white">
      <div class="nav-wrapper">
        <a href="{{ call_static('Core\\Helper\\Html', 'link', ['']) }}" class="brand-logo brand-logo-small black-text">
          <img id="header-logo" alt="Quintessence Logo" src="{{ call_static('Core\\Helper\\Html', 'img', ['logo-nav.png']) }}">
          {{ call_static('Core\\App', 'getTitle') }}
        </a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{ url('posts.index') }}"><i class="material-icons">search</i></a></li>
          <li><a href="{{ url('admin.posts.index') }}"><i class="material-icons">view_module</i></a></li>
          <li><a href=""><i class="material-icons">refresh</i></a></li>
          {% if isLogged()  %}
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="{{ url('admin.posts.index') }}">Administration</a></li>
              <li><a href="{{ url('users.logout') }}">Se déconnecter</a></li>
            </ul>
          {% else %}
            <li><a href="{{ url('users.login') }}"><i class="material-icons">person</i></a></li>
          {% endif %}
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li>
            <a href="{{ url('users.login') }}">
              Login
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- CONTENT -->
    <main class="container">
      {% block content %}
      {% endblock %}
    </main> <!-- /main -->

    <!-- FOOTER -->
    <footer class="page-footer grey darken-4">
      <div class="footer-copyright">
        <div class="container">
          ©{{ call_static('Core\\App', 'getTitle') }} - 2016
          <div class="grey-text text-lighten-4 right">
            {% if config_get('debug') > 0 %}
              <!-- DEBUG -->
              {{ call_static('Core\\Helper\\Debug', 'getDebug') }}
              Temps d'execution : {{ app_function('getExecutionTime') | number_format(5) }} Secondes
            {% endif %}
          </div>
        </div>
      </div>
    </footer>

    <!-- SCRIPTS -->
    <script type="text/javascript">
      window.base_url = '{{ call_static('Core\\App', 'getBaseUrl') }}';
    </script>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="{{ call_static('Core\\Helper\\Html', 'js', ['loader']) }}"></script>
    <script src="{{ call_static('Core\\Helper\\Html', 'js', ['app']) }}"></script>
    {% block script %}{% endblock %}
  </body>
</html>