{% extends _layout %}

{% block title %} concours{% endblock %}

{% block content %}
    <h2>Liste des concours</h2>

    {{ material_pagination('admin.contests.index', page, nbPages, 'blue') }}

    <form action="{{ url('admin.contests.deleteSelection') }}" method="post">
        <div class="row">
            <div class="col s12">
                <div id="index">

                    <table class="table responsive-table centered table-hover striped">
                        <thead>
                        <tr>
                            <th data-field="action">Id
                                <a href="{{ url('admin.contests.index', [page], ['perPage']) }}" class="tooltipped"
                                   data-position="top" data-delay="150" data-tooltip="Trier 0-9">
                                    <i class="material-icons">keyboard_arrow_up</i>
                                </a>
                                <a href="{{ url('admin.contests.index', [page,'?orderby=id-desc'], ['perPage']) }}"
                                   class="tooltipped"
                                   data-position="top" data-delay="150" data-tooltip="Trier 9-0">
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                            </th>
                            <th data-field="action">Date de début
                                <a href="{{ url('admin.contests.index', [page,'?orderby=start_date-asc'], ['perPage']) }}"
                                   class="tooltipped"
                                   data-position="top" data-delay="150" data-tooltip="Trier A-Z">
                                    <i class="material-icons">keyboard_arrow_up</i>
                                </a>
                                <a href="{{ url('admin.contests.index', [page,'?orderby=start_date-desc'], ['perPage']) }}"
                                   class="tooltipped"
                                   data-position="top" data-delay="150" data-tooltip="Trier Z-A">
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                            </th>
                            <th data-field="action">Date de fin
                                <a href="{{ url('admin.contests.index', [page,'?orderby=end_date-asc'], ['perPage']) }}"
                                   class="tooltipped"
                                   data-position="top" data-delay="150" data-tooltip="Trier A-Z">
                                    <i class="material-icons">keyboard_arrow_up</i>
                                </a>
                                <a href="{{ url('admin.contests.index', [page,'?orderby=end_date-desc'], ['perPage']) }}"
                                   class="tooltipped"
                                   data-position="top" data-delay="150" data-tooltip="Trier Z-A">
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                            </th>
                            {% if hasAccess('contests.read') or hasAccess('contests.update') or hasAccess('contests.delete') %}
                                <th data-field="action">Action</th>
                            {% endif %}
                            {% if hasAccess('contests.delete') %}
                                <th data-field="action">Sélection
                                    <i class="material-icons">done_all</i>
                                    <i class="material-icons">crop_square</i>
                                </th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for contest in contests %}
                            <tr>
                                <td>{{ contest.id }}</td>
                                <td>{{ contest.start_date }}</td>
                                <td>{{ contest.end_date }}</td>
                                {% if hasAccess('contests.read') or hasAccess('contests.update') or hasAccess('contests.delete') %}
                                    <td>
                                        {% if hasAccess('contests.read') %}
                                            <a href="{{ url('admin.contests.read', [contest.id]) }}" class="tooltipped"
                                               data-position="top" data-delay="150" data-tooltip="Voir">
                                                <i class="material-icons">visibility</i>
                                            </a>
                                        {% endif %}
                                        {% if hasAccess('contests.update') %}
                                            <a href="{{ url('admin.contests.update', [contest.id]) }}"
                                               class="tooltipped"
                                               data-position="top" data-delay="150" data-tooltip="Editer">
                                                <i class="material-icons">create</i>
                                            </a>
                                        {% endif %}
                                        {% if hasAccess('contests.delete') %}
                                            <a href="{{ url('admin.contests.delete', [contest.id]) }}"
                                               class="tooltipped"
                                               data-position="top" data-delay="150" data-tooltip="Supprimer">
                                                <i class="material-icons">delete</i>
                                            </a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                                {% if hasAccess('contests.delete') %}
                                    <td>
                                        <input type="checkbox" name="data[delete][]" value="{{ contest.id }}"
                                               class="filled-in" id="{{ contest.id }}"/>
                                        <label for="{{ contest.id }}"></label>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <a class="right">
                <p>Total : {{ total }} </p>
            </a>
        </div>


        {% if hasAccess('contests.create') or hasAccess('contests.delete') %}
            <div class="fixed-action-btn add-btns">
                {% if hasAccess('contests.create') %}
                    <a href="{{ url('admin.contests.create') }}" class="btn-floating btn-large tooltipped blue "
                       data-position="left" data-delay="150" data-tooltip="Ajouter un concours">
                        <i class="large material-icons">add</i>
                    </a>
                {% endif %}

                {% if hasAccess('contests.delete') %}
                    <input type="submit" class="btn-floating btn-large tooltipped blue material-icons"
                           data-position="left" data-delay="150" data-tooltip="Supprimer tous les éléments sélectionnés"
                           value='delete'
                    />
                {% endif %}
            </div>
        {% endif %}

    </form>
{% endblock %}