{% extends _layout %}

{% block title %}item - {{ item.name }}{% endblock %}

{% block content %}



    <div class="col s12 m8 offset-m2 l6 offset-l3 ">
        <div class="card-panel grey lighten-5 z-depth-1 flow-text">
            <div class="col s10">
                Information l'item
            </div>
            <div class="col s10">
                <div class="chip">
                    Type : {{ item.type }}
                </div>
            </div>
            <div class="col s10">
                <div class="chip">
                    Description : {{ item.description }}
                </div>
            </div>
            <div class="col s10">
                <div class="chip">

                    Description de la famille :
                    <a href="{{ url('admin.familys.read', [item.item_family.id]) }}">{{ item.item_family.description }}</a>
                </div>
            </div>
        </div>
    </div>




    {% if hasAccess('items.update') or hasAccess('items.delete') %}
        <div class="fixed-action-btn">
            {% if hasAccess('items.update') %}
                <a href="{{ url('admin.items.update', [item.id]) }}" class="btn-floating btn-large tooltipped blue"
                   data-position="top" data-delay="150" data-tooltip="Editer">
                    <i class="large material-icons">edit</i>
                </a>
            {% endif %}
            {% if hasAccess('items.delete') %}
                <a href="{{ url('admin.items.delete', [item.id]) }}" class="btn-floating btn-large tooltipped blue"
                   data-position="top" data-delay="150" data-tooltip="Supprimer">
                    <i class="large material-icons">delete</i>
                </a>
            {% endif %}
        </div>
    {% endif %}


{% endblock %}
