{% extends _layout %}

{% block title %} Users{% endblock %}

{% block content %}
    <h2>Liste des utilisateurs</h2>

    {{ material_pagination('admin.users.index', page, nbPages, 'blue') }}

    <form action="{{ url('admin.users.deleteSelection') }}" method="post">
        <div class="row">
            <div class="col s12">
                <div id="index">

                    <table class="table responsive-table centered table-hover striped">
                        <thead>
                        <tr>
                            <th class="text-center">Id

                                <a href="{{ url('admin.users.index', [page], ['perPage']) }}" class="tooltipped"
                                   data-position="top" data-delay="150" data-tooltip="Trier 0-9">
                                    <i class="material-icons">keyboard_arrow_up</i>
                                </a>
                                <a href="{{ url('admin.users.index', [page,'?orderby=id-desc'], ['perPage']) }}"
                                   class="tooltipped"
                                   data-position="top" data-delay="150" data-tooltip="Trier 9-0">
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                            </th>
                            <th class="text-center">Pseudo
                                <a href="{{ url('admin.users.index', [page,'?orderby=pseudo-asc'], ['perPage']) }}"
                                   class="tooltipped"
                                   data-position="top" data-delay="150" data-tooltip="Trier A-Z">
                                    <i class="material-icons">keyboard_arrow_up</i>
                                </a>
                                <a href="{{ url('admin.users.index', [page,'?orderby=pseudo-desc'], ['perPage']) }}"
                                   class="tooltipped"
                                   data-position="top" data-delay="150" data-tooltip="Trier Z-A">
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                            </th>
                            <th class="text-center">Email
                                <a href="{{ url('admin.users.index', [page,'?orderby=email-asc'], ['perPage']) }}"
                                   class="tooltipped"
                                   data-position="top" data-delay="150" data-tooltip="Trier A-Z">
                                    <i class="material-icons">keyboard_arrow_up</i>
                                </a>
                                <a href="{{ url('admin.users.index', [page,'?orderby=email-desc'], ['perPage']) }}"
                                   class="tooltipped"
                                   data-position="top" data-delay="150" data-tooltip="Trier Z-A">
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                            </th>
                            <!--<th class="text-center">Dernière connexion
                                <a href="{# {{ url('admin.users.index', [page,'?orderby=last_login-asc'], ['perPage']) }} #}"
                                   class="tooltipped"
                                   data-position="top" data-delay="150" data-tooltip="Trier A-Z">
                                    <i class="material-icons">keyboard_arrow_up</i>
                                </a>
                                <a href="{# {{ url('admin.users.index', [page,'?orderby=last_login-desc'], ['perPage']) }} #}"
                                   class="tooltipped"
                                   data-position="top" data-delay="150" data-tooltip="Trier Z-A">
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                            </th>-->
                            <th data-field="action">Action</th>
                            <th data-field="action">Sélection
                                <i class="material-icons">done_all</i>
                                <i class="material-icons">crop_square</i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.pseudo }}</td>
                                <td class="left">{{ user.email|slice(0, 35) }}</td>
                                <!--<td>{# {{ user.last_login }} #}</td>-->
                                {% if hasAccess('users.read') or hasAccess('users.update') or hasAccess('users.delete') %}
                                    <td>
                                        {% if hasAccess('users.read') %}
                                            <a href="{{ url('admin.users.read', [user.id]) }}" class="tooltipped"
                                               data-position="top" data-delay="150" data-tooltip="Voir">
                                                <i class="material-icons">visibility</i>
                                            </a>
                                        {% endif %}
                                        {% if hasAccess('users.update') %}
                                            <a href="{{ url('admin.users.update', [user.id]) }}" class="tooltipped"
                                               data-position="top" data-delay="150" data-tooltip="Editer">
                                                <i class="material-icons">create</i>
                                            </a>
                                        {% endif %}
                                        {% if hasAccess('users.delete') %}
                                            <a href="{{ url('admin.users.delete', [user.id]) }}" class="tooltipped"
                                               data-position="top" data-delay="150" data-tooltip="Supprimer">
                                                <i class="material-icons">delete</i>
                                            </a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                                {% if hasAccess('users.delete') %}
                                    <td>
                                        <input type="checkbox" name="data[delete][]" value="{{ user.id }}"
                                               class="filled-in"
                                               id="{{ user.id }}"/>
                                        <label for="{{ user.id }}"></label>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <a class="right">
                <p>Total : {{ total }} </p>
            </a>
        </div>


        {% if hasAccess('users.create') or hasAccess('permissions.index') or hasAccess('users.delete') %}
            <div class="fixed-action-btn vertical" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large blue-grey">
                    <i class="material-icons">menu</i>
                </a>
                <ul>
                    {% if hasAccess('users.create') %}
                        <li>
                            <a href="{{ url('admin.users.create') }}" class="btn-floating btn-large tooltipped blue"
                               data-position="left" data-delay="150" data-tooltip="Ajouter un utilisateur">
                                <i class="material-icons">add</i>
                            </a>
                        </li>
                    {% endif %}
                    {% if hasAccess('permissions.index') %}
                        <li>
                            <a href="{{ url('admin.permissions.index', ['1']) }}"
                               class="btn-floating btn-large tooltipped blue"
                               data-position="left" data-delay="150" data-tooltip="Liste des permissions">
                                <i class="material-icons">view_list</i>
                            </a>
                        </li>
                    {% endif %}
                    {% if hasAccess('users.delete') %}
                        <li>
                            <input type="submit" class="btn-floating btn-large tooltipped blue material-icons"
                                   data-position="left" data-delay="150"
                                   data-tooltip="Supprimer tous les éléments sélectionnés"
                                   value='delete'
                            />
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </form>

{% endblock %}