{% extends _layout %}

{% block title %}Se connecter{% endblock %}

{% block content %}
    <div class="row section">

        {{ material_form_start('User', {
            "title": "Se connecter",
            "method": "post",
            "action": "users.login",
        }) }}

        <div class="row">

            {{ material_form_input("email", {
                "type" : "email",
                "icon" : "mail",
                "label": "Email",
                "class": "validate",
            }) }}

            {{ material_form_input("password", {
                "type" : "password",
                "icon" : "vpn_key",
                "label": "Password",
                "class": "validate",
            }) }}
        </div>

        {{ material_form_error() }}

        {{ material_form_submit("Login", {
            "class": "col offset-s7 s5 offset-m7 m3 offset-l6 l3",
            "icon" : "send",
        }) }}


    </div>
{% endblock %}

{% block script %}
    {{ material_form_json() }}
{% endblock %}